
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Registration</h1>
        <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
    </div>
    <div class="row justify-content-md-center">
        
        <div class="login-with-social-network col col-lg-6">
            <form [formGroup]="registerForm"  (ngSubmit)="onRegister()">
                <div class="input-group mb-3">
                    <input type="text" class="form-control"  formControlName="username" placeholder="Username">
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control"  formControlName="password" placeholder="Password" >
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control"  formControlName="confirmPassword" placeholder="Confirm Password" >
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email Id" formControlName="email" >
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-1">Register</button>
                <p class="mb-1">
                    <small>
                        By clicking Register, I agree to Terms, including the payment terms, and Privacy Policy.
                    </small>
                </p>
            <!-- <button class="btn btn-primary btn-block mb-3" type="button">Sign In with Twitter</button>
            <button class="btn btn-primary btn-block mb-3" type="button">Sign In with Facebook</button> -->
            </form>
        </div>
      
        <div class="user-login col col-lg-6">
            <div class="">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </div>
</div>