<div class="page-header shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-between">
    <div class="label align-self-center">
        <div class="m-0 page-label">
           <h5>{{pageHeaderData.heading}}</h5>
        </div>
        <div *ngIf="pageHeaderData.body">
            <p class="m-0">{{pageHeaderData.body}}</p>
        </div>
    </div>
    <div class="label align-self-center" *ngIf="pageHeaderData.buttons.length">
        <button class="ml-2" mat-raised-button *ngFor="let button of pageHeaderData.buttons" (click)="handleAction(button)">
            {{button}}
        </button>
    </div>
</div>