.profile-card{
    .select-wrapper{
        line-height: 0;
        float: right;
     }
    .img-thumbnail{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .name,
    .screen-name{
        line-height: 1;
    }
    
 }