<div class="bg-white p-3 h-100   user profile-card card">
	<p class="text-right select-wrapper m-0">
		<ng-container [ngSwitch]="config.action?'true':'false'">
			<ng-container *ngSwitchCase="'true'">
				<mat-checkbox #checkbox (change)="handleCheckbox(checkbox.checked)"></mat-checkbox>
			</ng-container>
			<ng-container *ngSwitchCase="'false'">
				<mat-icon *ngIf="user.verified" class="">verified_user</mat-icon>
			</ng-container>
		</ng-container>
	</p>
	<p class="m-0">
		<a href="../pages/profile.html">
			<img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" [src]="user.profile_image_url_https | twitterIMGUrl" [alt]="user.screen_name">
		</a>
	</p>
	<p class="fs-1 mb-1 mt-0 name small" *ngIf="config.showCounts">
		<a href="../pages/profile.html" [title]="'@'+user.screen_name">
			{{user.name}}
		</a>
	</p>
	<p class="my-1 name">
		<span>{{user.followers_count}} Follower</span> <span> <b> &bull; </b> </span> <span>Following {{user.friends_count}}</span>
	</p>
	<p class="mt-1 mb-0">
		<span>{{user.description}}</span>
	</p>
</div>