<div class="page section mt-4">
    <div class="page-header shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-between">
        <div class="label align-self-center">
            <div class="m-0 page-label">
               <h5>Post</h5>
            </div>
            <div>
                <p class="m-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
          <div class="posts-wrapper">
            <ng-container *ngFor="let post of allPosts">
              <app-post [post]="post"></app-post>
            </ng-container>
          </div>
        </div>
        <div class="col-6 right-section">
            <app-edit-post></app-edit-post>
            <div class="card mb-3 new-post">
                <div class="card-header bg-light">
                  <div class="media align-items-center">
                    <div class="avatar avatar-m">
                      <img class="rounded-circle avatar" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="">
                    </div>
                    <div class="media-body ml-2">
                      <h5 class="mb-0 fs-0">Create Post</h5>
                    </div>
                  </div>
                </div>
                <div class="card-body p-0">
                  <form>
                    <textarea class="form-control border-0 rounded-0 resize-none" 
                    placeholder="What's happening?"
                    rows="4" 
                    ></textarea>
                    <div class="row no-gutters justify-content-between p-3 button-wrapper">
                        <!-- <div class="col">
                            <button class="btn btn-secondary">File</button>
                        </div> -->
                        <div class="col text-right">
                            <div class="btn-group">
                                <button class="btn btn-success">Schedule</button>
                                <button class="btn btn-primary">Post</button>
                            </div>
                                                        <!-- <dl-date-time-picker
                                startView="day"
                                maxView="year"
                                minView="minute"
                                minuteStep="5"
                                [(ngModel)]="selectedDate"
                            >
                            </dl-date-time-picker> -->
                        </div>
                    </div>
                  </form>
                </div>
              </div>
        </div>
    </div>
</div>