<div class="page section mt-4">
    <div class="page-header shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-between">
        <div class="label align-self-center">
            <div class="m-0 page-label">
               <h5>Post</h5>
            </div>
            <div>
                <p class="m-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
          <div class="posts-wrapper">
            <ng-container *ngFor="let post of allPosts">
              <app-post [post]="post"></app-post>
            </ng-container>
          </div>
        </div>
        <div class="col-6 right-section">
          <app-edit-post></app-edit-post>
        </div>
    </div>
</div>