.posts-wrapper{
    scroll-snap-type: y mandatory;
    .post{
        scroll-snap-align: start;
        .avatar{
            max-width: 30px;
        }
        .post-video-wrapper{
            width: 100%;
        }
    }
}

.new-post{
 .avatar{
     max-width: 30px;
 }
 .button-wrapper{

    border-top: 1px solid rgba(0, 0, 0, 0.125);
    }  
}