
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Login</h1>
        <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It's built with default Bootstrap components and utilities with little customization.</p>
    </div>
    <div class="row justify-content-md-center">
        <div class="login-with-social-network col col-lg-4">
            <button class="btn btn-primary btn-block mb-3" type="button">Sign In with Twitter</button>
            <button class="btn btn-primary btn-block mb-3" type="button">Sign In with Facebook</button>
        </div>
        <div class="seprator-wrapper col-md-auto">
            <span class="vertical-line"></span>
            <span class="text">OR</span>
        </div>
        <div class="user-login col col-lg-4">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username">
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" >
            </div>
            <button type="button" class="btn btn-primary btn-block mb-1">Submit</button>
            <p class="mb-1">
                <small>
                    By clicking Sign in, I agree to Terms, including the payment terms, and Privacy Policy.
                </small>
            </p>
            <p class="mb-0">
                <small>
                    Forgot Password?
                </small>
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="register-account col col-lg-3 text-center">
            <div class="register-link mt-3">
                <a [routerLink]="['/register']">Create Account</a>
            </div>
        </div>
    </div>
</div>