.seprator-wrapper{
    position: relative;
    .vertical-line{
        position: absolute;
        border-left: 2px solid #ced4da;
        height: 100%;
        left: 50%;
        transform: translate(-50%,0);
        top:0;
    }
    .text{
        position: absolute;
        top: 50%;
        background-color: #fff;
        padding: 5px;
        transform: translate(-50%,-50%);
    }
}
