
.page-header{
   // background-image: url('../../assets/home-page-img/header-bg.jpg');
   background-image: url('/assets/bg/corner-4.png');
   background-repeat: no-repeat;
   background-size: 180px;
   background-position: right;
}