<div class="page section mt-4">
    <div class="page-header shadow-sm p-3 mb-3 bg-white rounded d-flex justify-content-between">
        <div class="label align-self-center">
            <div class="m-0 page-label">
               <h5> Potential Follower List</h5>
            </div>
            <div>
                <p class="m-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
            </div>
        </div>
        <div class="label align-self-center">
            <button mat-raised-button>Follow All</button>
        </div>
    </div>
    <div class="row text-center fs--1">
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
              <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
              <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mt-3 mb-3">
            <div class="bg-white p-3 h-100 shadow-sm rounded"><a href="../pages/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="https://pbs.twimg.com/profile_images/927241270975651840/xcbMX4Pp_bigger.jpg" alt="" width="100"></a>
                <h6 class="mb-1"><a href="../pages/profile.html">Emilia Clarke</a></h6>
                <p class="fs--2 mb-1 small"><a class="text-700" href="#!">Technext limited</a></p>
            </div>
        </div>
      </div>
    <div class="user-list shadow-sm mb-3 bg-white rounded">
          
        
        <!-- <ul class="list-group">
            <li class="list-group-item">
                Cras justo odio
            </li>
            <li class="list-group-item">
                Dapibus ac facilisis in
            </li>
            <li class="list-group-item">
                Morbi leo risus
            </li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul> -->
    </div>
</div>